AIRFLOW__CORE__SQL_ALCHEMY_CONN="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_SQLALCHEMY_URL~"
ANYWAY_ETL_AIRFLOW_ADMIN_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_ADMIN_PASSWORD~"
