AIRFLOW__CORE__SQL_ALCHEMY_CONN="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_SQLALCHEMY_URL~"
SQLALCHEMY_URL="~vault:projects/anyway/prod/k8s-secret-anyway-db:DATABASE_URL~"
IMAP_MAIL_USER="~vault:projects/anyway/prod/k8s-secret-anyway:MAILUSER~"
IMAP_MAIL_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:MAILPASS~"
AIRFLOW__EMAIL__EMAIL_BACKEND="airflow.utils.email.send_email_smtp"
AIRFLOW__SMTP__SMTP_HOST="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_HOST~"
AIRFLOW__SMTP__SMTP_PORT="2525"
AIRFLOW__SMTP__SMTP_MAIL_FROM="Airflow <airflow@anyway.co.il>"
AIRFLOW__SMTP__SMTP_USER="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_USER~"
AIRFLOW__SMTP__SMTP_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_PASSWORD~"
ANYWAY_ETL_ALERT_EMAILS="~vault:projects/anyway/prod/k8s-secret-anyway:ANYWAY_ETL_ALERT_EMAILS~"
