AIRFLOW_ADMIN_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_ADMIN_PASSWORD~"
AIRFLOW_DB_POSTGRES_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_DB_POSTGRES_PASSWORD~"
AIRFLOW_SQLALCHEMY_URL="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_SQLALCHEMY_URL~"
AIRFLOW__SMTP__SMTP_HOST="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_HOST~"
AIRFLOW__SMTP__SMTP_PORT="2525"
AIRFLOW__SMTP__SMTP_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_PASSWORD~"
AIRFLOW__SMTP__SMTP_USER="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW__SMTP__SMTP_USER~"
ANYWAY_ETL_ALERT_EMAILS="~vault:projects/anyway/prod/k8s-secret-anyway:ANYWAY_ETL_ALERT_EMAILS~"
APP_SECRET_KEY="~vault:projects/anyway/prod/k8s-secret-anyway:APP_SECRET_KEY~"
AWS_ACCESS_KEY="~vault:projects/anyway/prod/aws_prod_app_user:access_key_id~"
AWS_SECRET_KEY="~vault:projects/anyway/prod/aws_prod_app_user:secret_access_key~"
FACEBOOK_KEY="~vault:projects/anyway/prod/k8s-secret-anyway:FACEBOOK_KEY~"
FACEBOOK_SECRET="~vault:projects/anyway/prod/k8s-secret-anyway:FACEBOOK_SECRET~"
FLASK_ENV="~vault:projects/anyway/prod/k8s-secret-anyway:FLASK_ENV~"
GOOGLE_LOGIN_CLIENT_ID="~vault:projects/anyway/prod/k8s-secret-anyway:GOOGLE_LOGIN_CLIENT_ID~"
GOOGLE_LOGIN_CLIENT_SECRET="~vault:projects/anyway/prod/k8s-secret-anyway:GOOGLE_LOGIN_CLIENT_SECRET~"
GOOGLE_MAPS_KEY="~vault:projects/anyway/prod/k8s-secret-anyway:GOOGLE_MAPS_KEY~"
MAILPASS="~vault:projects/anyway/prod/k8s-secret-anyway:MAILPASS~"
MAILUSER="~vault:projects/anyway/prod/k8s-secret-anyway:MAILUSER~"
SERVER_ENV="~vault:projects/anyway/prod/k8s-secret-anyway:SERVER_ENV~"
SLACK_WEBHOOK_URL="~vault:projects/anyway/prod/k8s-secret-anyway:SLACK_WEBHOOK_URL~"
TWITTER_ACCESS_KEY="~vault:projects/anyway/prod/k8s-secret-anyway:TWITTER_ACCESS_KEY~"
TWITTER_ACCESS_SECRET="~vault:projects/anyway/prod/k8s-secret-anyway:TWITTER_ACCESS_SECRET~"
TWITTER_CONSUMER_KEY="~vault:projects/anyway/prod/k8s-secret-anyway:TWITTER_CONSUMER_KEY~"
TWITTER_CONSUMER_SECRET="~vault:projects/anyway/prod/k8s-secret-anyway:TWITTER_CONSUMER_SECRET~"
SELENIUM_URL="~vault:projects/anyway/prod/k8s-secret-anyway:SELENIUM_URL~"
BOT_TOKEN="~vault:projects/anyway/prod/k8s-secret-anyway:BOT_TOKEN~"
AIRFLOW_USER="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_USER~"
AIRFLOW_PASSWORD="~vault:projects/anyway/prod/k8s-secret-anyway:AIRFLOW_PASSWORD~"