DBRESTORE_AWS_ACCESS_KEY_ID="~vault:projects/anyway/prod/aws_db_dumps_reader_user:access_key_id~"
DBRESTORE_AWS_SECRET_ACCESS_KEY="~vault:projects/anyway/prod/aws_db_dumps_reader_user:secret_access_key~"
DBRESTORE_SET_ANYWAY_PASSWORD="~vault:projects/anyway/prod/k8s-secret-db:DBRESTORE_SET_ANYWAY_PASSWORD~"
POSTGRES_PASSWORD="~vault:projects/anyway/prod/k8s-secret-db:POSTGRES_PASSWORD~"
